body {
    background-image: url('../images/background6.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.character-card {
    border: 0.1rem solid black;
}


.character-image, .fighter-image, .defender-image {
    height: 10rem;
}

#title-image {
    height: 12rem;
}