body {
    background-image: url('../images/background6.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Caveat Brush', cursive;
    color: whitesmoke;
}

.character-card {
    border: 0.1rem solid black;
}


.character-image, .fighter-image, .defender-image {
    height: 10rem;
    
}

.character-image:hover, .fighter-image:hover, .defender-image:hover {
    cursor: pointer;
}

.modal {
    color: black;
}

.modal-content {
    background-color: rgba(250, 235, 215, 0.767);
}

.under-title {
    display: flex;
    justify-content: space-around;
}

/* #modal-button {
    margin-right: 10rem;
    margin-left: 8rem;
} */

#title-image {
    height: 12rem;
}

/* #title-text {
    margin-right: 8rem;
   
} */

#attack-button-row, #reset-button-row {
    margin: 3rem;
}

